nav {
    height: 10vh;
    width: 100vw;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    color: black
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

